.env
__pycache__/
_venv/
.vscode/
.git/
*.pyc
*.pyo
*.log
*.rar
*.zip
*.code-workspace
*.db
data/google/token.json
data/google/credentials.json
data/google/
detected_frames/
reports/
data/videos/
data/detected_frames/
yolo_cam/detected_frames/
